<!--###########-->
<!--title-->
InterestinglyThere: 500

<!--###########-->
<!--content-->

<h2>500 Internal Server Error</h2>

<p><!--#echo var="REQUEST_URI" --></p>

<p>The server encountered an internal error. But the good news is that <b>the error was caught by this neat little wrapper code and was written a log file</b>, which Sean Zhu will look at, because he doesn't want other people to have to deal with an error message like this.</p>
<p>But just in case, you should <a href="/about/#contact">tell me about how you made this error</a>, because then I may have a clearer idea of how to fix the error (and because I check Gmail more often than I check the error log).</p>
